nav {
  font-family: same-serif;
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  min-width: 10rem;
  justify-content: space-between;
}

ul li {
  list-style: none;
}
